<div class="col-lg-3 col-md-4 col-12 d-md-block d-none">
    <ul class="list-group f-17 mb-3">
        <a href="{% url 'saved_products' %}" class="list-group-item border-0 text-dark {% if 'saved_products' in request.path %}bg-light-warning {% endif %}"><i class="fe fe-heart mr-2 "></i>Saved Products</a>

        <a href="{% url 'customerinfo' %}" class="list-group-item border-0 text-dark {% if '/customer/profile/' == request.path %} bg-light-warning {% endif %}"><i class="fe fe-settings mr-2"></i>Account Information</a>
        
        <a href="{% url 'user_logout' %}" class="list-group-item border-0 text-danger font-weight-medium"><i class="fe fe-power mr-2"></i>Log out</a>
    </ul>
</div>